<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
 <add key="NewHeapCSPHeaderValue" value="{{{{{Content-Security-Policy}}}}}" />
</appSettings>

<location path="index.csr.html">
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="'1; mode=block'" />
        <add name="Referrer-Policy" value="strict-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</location>
<system.webServer>
<defaultDocument>
  <files>
    <clear />
    <add value="index.csr.html" />
  </files>
</defaultDocument>
<urlCompression doStaticCompression="false" doDynamicCompression="true" />
  <modules>
    <add name="NewHeapIISModule" type="NewHeapIISModule.NewHeapIISModule" />
  </modules>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.csr.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>

</configuration>
